<nav class=" navbar navbar-expand-lg navbar-light">
    <div class="container">
      <div class="navbar-brand" routerLink="/currency/convert" >BM</div>
  
      <div class="collapse  navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/currency/convert" routerLinkActive="active">Home </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/currency/details" routerLinkActive="active">Convert Details  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLinkActive="active">EUR</a>
          </li>

         
          <li class="nav-item">
            <a class="nav-link"  routerLinkActive="active">EUR</a>
          </li>
        </ul>
      </div>
    </div>
  
  </nav>